@font-face {
  font-family: "GT Zirkon Book";
  src: url("../fonts/GTZirkon-BookItalic.eot");
  src: local("GT Zirkon Book Italic"), local("GTZirkon-BookItalic"),
    url("../fonts/GTZirkon-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-BookItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-BookItalic.woff") format("woff"),
    url("../fonts/GTZirkon-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Medium.eot");
  src: local("GT Zirkon Medium"), local("GTZirkon-Medium"),
    url("../fonts/GTZirkon-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Medium.woff2") format("woff2"),
    url("../fonts/GTZirkon-Medium.woff") format("woff"),
    url("../fonts/GTZirkon-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Italic.eot");
  src: local("GT Zirkon Italic"), local("GTZirkon-Italic"),
    url("../fonts/GTZirkon-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Italic.woff2") format("woff2"),
    url("../fonts/GTZirkon-Italic.woff") format("woff"),
    url("../fonts/GTZirkon-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Light.eot");
  src: local("GT Zirkon Light"), local("GTZirkon-Light"),
    url("../fonts/GTZirkon-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Light.woff2") format("woff2"),
    url("../fonts/GTZirkon-Light.woff") format("woff"),
    url("../fonts/GTZirkon-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-LightItalic.eot");
  src: local("GT Zirkon Light Italic"), local("GTZirkon-LightItalic"),
    url("../fonts/GTZirkon-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-LightItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-LightItalic.woff") format("woff"),
    url("../fonts/GTZirkon-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-MediumItalic.eot");
  src: local("GT Zirkon Medium Italic"), local("GTZirkon-MediumItalic"),
    url("../fonts/GTZirkon-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-MediumItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-MediumItalic.woff") format("woff"),
    url("../fonts/GTZirkon-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Bold.eot");
  src: local("GT Zirkon Bold"), local("GTZirkon-Bold"),
    url("../fonts/GTZirkon-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Bold.woff2") format("woff2"),
    url("../fonts/GTZirkon-Bold.woff") format("woff"),
    url("../fonts/GTZirkon-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-ThinItalic.eot");
  src: local("GT Zirkon Thin Italic"), local("GTZirkon-ThinItalic"),
    url("../fonts/GTZirkon-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-ThinItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-ThinItalic.woff") format("woff"),
    url("../fonts/GTZirkon-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon Ultra";
  src: url("../fonts/GTZirkon-UltraLight.eot");
  src: local("GT Zirkon Ultra Light"), local("GTZirkon-UltraLight"),
    url("../fonts/GTZirkon-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-UltraLight.woff2") format("woff2"),
    url("../fonts/GTZirkon-UltraLight.woff") format("woff"),
    url("../fonts/GTZirkon-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon Ultra";
  src: url("../fonts/GTZirkon-UltraLightItalic.eot");
  src: local("GT Zirkon Ultra Light Italic"), local("GTZirkon-UltraLightItalic"),
    url("../fonts/GTZirkon-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GTZirkon-UltraLightItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-UltraLightItalic.woff") format("woff"),
    url("../fonts/GTZirkon-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon Book";
  src: url("../fonts/GTZirkon-Book.eot");
  src: local("GT Zirkon Book"), local("GTZirkon-Book"),
    url("../fonts/GTZirkon-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Book.woff2") format("woff2"),
    url("../fonts/GTZirkon-Book.woff") format("woff"),
    url("../fonts/GTZirkon-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Thin.eot");
  src: local("GT Zirkon Thin"), local("GTZirkon-Thin"),
    url("../fonts/GTZirkon-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Thin.woff2") format("woff2"),
    url("../fonts/GTZirkon-Thin.woff") format("woff"),
    url("../fonts/GTZirkon-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Black.eot");
  src: local("GT Zirkon Black"), local("GTZirkon-Black"),
    url("../fonts/GTZirkon-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Black.woff2") format("woff2"),
    url("../fonts/GTZirkon-Black.woff") format("woff"),
    url("../fonts/GTZirkon-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-Regular.eot");
  src: local("GT Zirkon Regular"), local("GTZirkon-Regular"),
    url("../fonts/GTZirkon-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-Regular.woff2") format("woff2"),
    url("../fonts/GTZirkon-Regular.woff") format("woff"),
    url("../fonts/GTZirkon-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-BoldItalic.eot");
  src: local("GT Zirkon Bold Italic"), local("GTZirkon-BoldItalic"),
    url("../fonts/GTZirkon-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-BoldItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-BoldItalic.woff") format("woff"),
    url("../fonts/GTZirkon-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT Zirkon";
  src: url("../fonts/GTZirkon-BlackItalic.eot");
  src: local("GT Zirkon Black Italic"), local("GTZirkon-BlackItalic"),
    url("../fonts/GTZirkon-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTZirkon-BlackItalic.woff2") format("woff2"),
    url("../fonts/GTZirkon-BlackItalic.woff") format("woff"),
    url("../fonts/GTZirkon-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
