@import "./variable";
@import "./mediaQuery";
@import "./fonts";
@import "./utilis";

// header
header {
   padding: 20px 0;
   a {
      text-decoration: none;
   }
   nav {
      .logo img {
         width: 50px;
      }
      li {
         margin-left: 30px;
      }
   }
}

// about
.about {
   padding: 50px 0;
   .flex {
      justify-content: unset;
   }
   img {
      width: 400px;
      border-radius: 5px;
   }
   &-content {
      margin-left: 30px;
      h1 {
         font-size: 3rem;
      }
      h4 {
         margin: 10px 0;
         font-weight: 400;
         font-size: 1.7rem;
      }

      p {
         font-size: 18px;
         font-weight: 300;
      }
   }
}

.work {
   #isotopButton {
      display: flex;
      margin-bottom: 2rem;
      a {
         text-decoration: none;
         text-transform: uppercase;
         color: black;
         border-radius: 3px;
         background: green;
         padding: 10px 30px;
      }
      li {
         margin-right: 10px;
      }
      .active-btn a {
         background: red;
      }
   }
   .isotop-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }
   .single-isotop-content {
      position: relative;
      cursor: pointer;
      img {
         width: 100%;
         height: 100%;
      }
      .content {
         display: none;
         margin: 0;
         height: 100%;
         width: 100%;
         position: absolute;
         left: 0;
         top: 0;
         &-value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            display: none;
         }
      }
      &:hover {
         .content {
            display: block;
            background: red;
            &-value {
               display: block;
            }
         }
      }
   }
   .active-isotop {
      display: block;
   }
   .inactive-isotop {
      display: none;
   }
}
