@import "./variable";
@import "./mediaQuery";
@import "./fonts";
@import "./utilis";

// header
header {
   padding: 20px 0;
   position: fixed;
   width: 100%;
   z-index: 999999999999;
   a {
      text-decoration: none;
   }
   nav {
      .logo img {
         width: 50px;
      }
      li {
         margin-left: 30px;
      }
   }
}

// about
.about {
   padding: 50px 0;
   padding-top: 7rem;
   .container {
      display: flex;
   }
   .flex {
      justify-content: unset;
      margin-top: 3rem;
      .fab {
         margin-right: 20px;
         font-size: 1.3rem;
      }
      .fa-facebook-f {
         color: #3b5998;
      }
   }
   .cv {
      text-decoration: none;
      background: green;
      padding: 15px 20px;
      border-radius: 5px;
      color: white;
   }
   img {
      width: 400px;
      border-radius: 5px;
   }
   &-content {
      margin-left: 30px;
      h1 {
         font-size: 3rem;
      }
      h4 {
         margin: 10px 0;
         font-weight: 400;
         font-size: 1.7rem;
      }

      p {
         font-size: 18px;
         font-weight: 300;
         margin-bottom: 3rem;
      }
   }
}

.work {
   padding: 50px 0;
   #isotopButton {
      display: flex;
      margin-bottom: 2rem;
      justify-content: center;

      li {
         margin-right: 10px;
         text-transform: uppercase;
         color: black;
         border-radius: 3px;
         background: green;
         padding: 10px 30px;
         cursor: pointer;
      }
      .active-btn {
         background: red;
      }
   }
   .isotop-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }
   .single-isotop-content {
      position: relative;
      cursor: pointer;
      img {
         width: 100%;
         height: 100%;
      }
      .content {
         display: none;
         margin: 0;
         height: 100%;
         width: 100%;
         position: absolute;
         left: 0;
         top: 0;
         &-value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            display: none;
         }
      }
      &:hover {
         .content {
            display: block;
            background: red;
            &-value {
               display: block;
            }
         }
      }
   }
   .active-isotop {
      display: block;
   }
   .inactive-isotop {
      display: none;
   }
}

.contact {
   .container {
      display: flex;
      justify-content: space-between;
   }
   &-left {
      width: 50%;
      .sec2map {
         overflow: hidden;
         height: 550px;
         max-width: 100%;
      }
   }
   &-right {
      width: 50%;
      form {
         padding-left: 3rem;
         label {
            display: block;
            font-size: 1.2rem;
            margin-bottom: 5px;
         }
         input,
         textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            font-weight: 400;
            font-size: 1rem;
            color: black;
            font-family: $gtZirkon;
            &::placeholder {
               color: black;
            }
            &:focus {
               outline: none;
            }
         }
         textarea {
            height: 150px;
            resize: none;
         }
         .form-item {
            margin-bottom: 1rem;
         }
      }
   }
}

.fa {
   padding: 6px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   margin: 5px 7px;
   border-radius: 4px;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
   background: #3b5998;
   color: white;
}

.fa-twitter {
   background: #55acee;
   color: white;
}

.fa-github {
   background: #24292e;
   color: white;
}

.fa-linkedin {
   background: #007bb5;
   color: white;
}

.fa-instagram {
   background: #125688;
   color: white;
}

.fa-skype {
   background: #00aff0;
   color: white;
}
